header {
  align-items: center;
  background: transparent;
  display: flex;
  height: 70px;
  justify-content: space-between;
  left: 0;
  padding: 0 30px;
  position: fixed;
  right: 0;
  top: 0;
  transition: all ease 0.5s;
  z-index: 999;
}

header .black {
  background-color: #141414;
}

.header--logo {
  height: 30px;
}

.header--logo img {
  height: 100%;
}

.header--user {
  height: 40px;
}

.header--user img {
  border-radius: 5px;
  height: 100%;
}
